<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">DealBaba</a>
    </div>
    <ul class="nav navbar-nav">
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- Login for rendering the login page -->
      <li><a href="#/register" ng-if="userLoggedIn == false"> <span class="glyphicon glyphicon-user" ></span> Sign Up</a></li>
      <li><a href="#/login" ng-if="userLoggedIn == false"><span class="glyphicon glyphicon-log-in"> </span> Login</a></li>
      <li><a href="#/userProfile" ng-if="userLoggedIn == true"><span class="glyphicon glyphicon-user"> </span> {{userId}}</a></li>
      <li><a ng-click="logout()" ng-if="userLoggedIn == true" ><span class="glyphicon glyphicon-log-out"> </span> Logout</a></li>
    </ul> 
  </div>
</nav>

