<h1>Test</h1>

<!-- User login starts here  -->
<!-- 
<div class="row">
	<div class="col-4">	
	</div>
	<div class="col-4">
		<form class="form-horizontal">
		    <div class="container">
		      <label><b>Username</b></label>
		      <input type="text" placeholder="Enter Username" ng-model="username" name="username" id="username" required>
		      <label><b>Password</b></label>
		      <input type="password" placeholder="Enter Password" ng-model="password" name="password" id="password" required>
		      <button type="button" ng-click="login()">Login</button>
		    </div>
		  </form>	
	</div>
	<div class="col-4">		
	</div>			  		
</div>
 -->
<!-- User login ends here -->
<br>
<br>
<!-- User sign up starts here -->
<!-- 
<div class="row">
	<div class="col-4">	
	</div>
	<div class="col-4">
		<form class="form-horizontal">
		    <div class="container">
		      <label><b>Firstname</b></label>
		      <input type="text" placeholder="Enter Firstname" ng-model="regFirstName" name="regFirstName" id="regFirstName" required>
		      <label><b>Lastname</b></label>
		      <input type="text" placeholder="Enter lastname" ng-model="regLastName" name="regLastName" id="regLastName" required>
		      <label><b>Username</b></label>
		      <input type="text" placeholder="Enter Username" ng-model="regUserName" name="regUserName" id="regUserName" required>
		      <label><b>Email</b></label>
		      <input type="email" placeholder="Enter email" ng-model="regEmail" name="regEmail" id="regEmail" required>
		      <label><b>Phone</b></label>
		      <input type="number" placeholder="Enter Phone" ng-model="regPhone" name="regPhone" id="regPhone" required>
		      <label><b>Password</b></label>
		      <input type="password" placeholder="Re-enter the password" ng-model="regPass" name="regPass" id="regPass" required>
		      <label><b>Confirm Password</b></label>
		      <input type="password" placeholder="Re-enter the password" ng-model="regConfirmPass" name="regConfirmPass" id="regConfirmPass" required>
		      <button type="button" ng-click="register()">Login</button>
		    </div>
		</form>	
	</div>
	<div class="col-4">		
	</div>			  		
</div>
-->
<!-- User sign up ends here  -->

<!-- Get all categories starts here  -->
<!-- 
	<button type="button" ng-click="getAllCategories()">Load categories</button>
 -->
<!-- Get all categories ends here  -->

<!-- Logout test -->
<!-- 
	<input type="text" ng-model="authToken"/>
	<button ng-click="logout()"> logout </button>
 -->
<!-- Logout test -->
<!-- Get all products -->
	<!-- 
		<button ng-click= "getAllProducts()" > Get all products </button>
	 -->
<!-- Get all products -->
<!-- Post an add starts here  -->

<!-- Post an add ends here  -->

{{userLoggedIn}}