<div class="row" >
	<div class="col-sm-3">
			<center>
				<h1>{{userId | uppercase}}</h1>
				<br>
				<img ng-src="../img/profile.png" width="150" height="140" >
			</center>
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-10">
			</div>
			<div class="col-sm-1">
				<a class="btn btn-success" href="#/postAdd"> Post add</a>	
			</div>
			<div class="col-sm-1">
			</div>
		</div>
		<br>
		<div class="alert alert-success fade in" ng-show="showDeleteAlert">
    		<a class="close" data-dismiss="alert" aria-label="close" ng-click="hideMessage()">&times;</a>
    		<strong> {{DeleteMessage}}</strong>
  		</div>
		<div class="row" ng-repeat="product in productData" style="border: 1px solid grey;">
			<div class="row" >
				<div class="col-sm-3">
						<img alt="Product Image" ng-src="{{product.imageName}}" class="img-thumbnail" width="250" height="200">
				</div>
				<div class="col-sm-4">
					<br>
					<center>
						<h3> {{product.title}} </h3>
						
						<h5> {{product.categoryName}} </h5>
					</center>
					
				</div>
				<div class="col-sm-4">
					<center>
						<div class="bs-example">
						    <div class="panel panel-default">
						        <div class="panel-body">
									<center>
										<h2>&#8377 {{product.price}}</h2>
									</center>
								</div> 
						        <div class="panel-footer clearfix">
						            <div class="pull-right">
						            	<br>
						            	<!-- Store the state of previous page -->
						    			<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{product.postId}}">View Details</button>
										<button class="btn btn-danger" ng-click="deletePost(product.postId,$index)">Delete</button>
							        </div>
						        </div>
						    </div>
						</div>
						<br>
					</center>
				</div>
				<br>
				<br>
			</div>
			<div class="row">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4">		
					<div id="{{product.postId}}" class="collapse">
						
						<p><strong>Post description</strong></p>
						<h3>{{product.description}}</h3>
						
				  	</div>
				</div>
			  	<div class="col-sm-2">
					
				</div>
			  	
			</div>
		</div>
	</div>
	<div class="col-sm-1">
	</div>
</div>

