<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-10">		
			<input type="text" id="search" name="search" class="searchBox" ng-model="searchText" placeholder="Search">	 
			<select id="category" class="filterBox" ng-model="categorySelected">		
				<!-- Get categories -->
				<option value="" class="filterBox" >All</option>

				<option ng-repeat="option in categoryData" value="{{categoryData[$index].name}}">{{categoryData[$index].name}}</option>
				<!-- Get categories -->
			</select>		
			<select  id="filter" class="filterBox" ng-model="filterBy">
			
				<option value="" class="filterBox" >None</option>
				<option value="Title" class="filterBox" >Title</option>
				<option value="Posted%20Date" class="filterBox">Post Date</option>
				<option value="Posted%20By" class="filterBox">Post By</option>
				<option value="Price" class="filterBox">Price</option>
			</select>
			<input type="button" value="Search" name="Search" ng-click="searchProduct()" class="searchButton">
			<!-- 
				<button type="button" value="" onclick="displaySomething()">Post ads</button>
			 -->
		</div>
		<div class="col-sm-2">
		</div>
</div>
<!-- Add slider here  -->
<!-- Add slider here  -->
<br>
<br>
<!-- Now display all the products here  -->

<div class="row" >
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<div class="row" ng-repeat="product in productData" style="border: 1px solid grey">
			<div class="col-sm-3">
					<img alt="Product Image" ng-src="{{product.imageName}}" class="img-thumbnail" width="250" height="200">
			</div>
			<div class="col-sm-4">
				<br>
				<center>
					<h3> {{product.title}} </h3>
					
					<h5> {{product.categoryName}} </h5>
					<h6>{{product.userPostedName}}</h6>
					<h6>{{product.userPostedId}}</h6>
					
				</center>
				
			</div>
			<div class="col-sm-4">
				<br>
				<center>
					<h2>&#8377 {{product.price}}</h2>
				</center>
				<br>
				<center>
					<button class="btn btn-primary">View Details</button>
					<br>
					<br>
					<button class="btn btn-info">Contact owner</button>
					<br>
				</center>
			</div>
			<br>
			<br>
			<br>
		</div>
	</div>
	<div class="col-sm-2">
	</div>
</div>

<br>
<br>
<!-- Pagination -->
<div class="row">
	<div class="col-sm-2">
	</div>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-6">
				<button ng-show="previous" ng-click="previousPage()" class="btn btn-default"> Previous </button>
			</div>
			<div class="col-sm-6">
				<center>
					<button ng-show="next" ng-click="nextPage()" class="btn btn-default"> Next </button>
				</center>
				
			</div>
		</div>
	</div>
	<div class="col-sm-2">
	</div>
</div>
<!-- Pagination -->
<!-- Now display all the products here  -->
<!-- {{testData}} -->
