<center>
	<h1>
		Product Application
	</h1>
</center>
<br><br>
Name : <input type="text" ng-model="name">
<br><br>
Quantity : <input type="text" ng-model="quantity">
<br><br>
Price : <input type="text" ng-model="price">
<br><br>
<input type="button" ng-click="addProduct()" value="ADD PRODUCT"/>

<ul ng-repeat="product in products">
	<li> {{product.name}} - {{product.quantity}} - {{product.price}} </li>
</ul>
<table>
	<thead>
		<th>
			Id
		</th>
		
		<th>
			Name
		</th>
		
		<th>
			Quantity
		</th>
		
		<th>
			Price
		</th>
		
		<th>
			Action
		</th>
	</thead>
	<tr ng-repeat="product in products">
		<th>
			{{product.id}}
		</th>
		<th>
			{{product.name}}
		</th>
		<th>
			{{product.quantity}}
		</th>
		<th>
			{{product.price}}
		</th>
		<th>
			<button  ng-click="editItem(product.id)">Edit</button>
			
			
			<a type="button" ng-click="deleteProduct(product.id)">Delete</a>			
		</th>
	<tr>
</table>

<button ng-click="passParameters()">Pass parameters to url  </button>